.brand-name {
  position: relative;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-direction: row;
  }
  a {
    display: block;
    text-align: center;
    padding: 30px 0;
    width: 300px;
    margin: 0 auto;
    .thefresh-logo {
      width: 300px;
    }
  }
  .cart {
    position: relative;
    padding: 0;
    height: 30px;
    align-items: center;
    @media screen and (min-width: $md) {
      position: absolute;
      right: 0;
      padding: 30px 0;
      height: inherit;
    }
    a {
      color: $coal;
      text-align: right;
      margin-right: 30px;
    }
  }
}
