.view-commerce-cart-form {
  .views-form {
    width: 100%;
    .table {
      margin: 70px 0;
    }
  }
}

.layout-checkout-form {
  margin: 50px 0;

  .info {
    flex-direction: column;
    @media screen and (min-width: $md) {
      flex-direction: row;
    }

    .checkout-pane-shipping-information,
    .checkout-pane-payment-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding: 0 10px;
    }
  }

  .field--name-shipping-method {
    margin: 50px 0;
  }

  .form-item-the-same {
    margin-bottom: 20px;
    padding: 6px 0px 0 31px;

    > input {
      width: 25px;
      height: 25px;
    }
  }

  .layout-region-checkout-main {
    .checkout-pane-review {
      fieldset[data-drupal-selector="edit-review-contact-information"] {

      }
      fieldset[data-drupal-selector="edit-review-shipping-information"] {
        width: 100%;
        float: left;
        @media screen and (min-width: $xl) {
          width: 50%;
          float: left;
        }
      }
      fieldset[data-drupal-selector="edit-review-payment-information"] {
        width: 100%;
        @media screen and (min-width: $xl) {
          width: 50%;
        }
      }
    }
  }
}
